<!-- <h2>High Scores</h2>
<div class="alert alert-info" *ngIf="loading">Loading...</div>
<div *ngIf="!loading && database.length === 0">There is no High Score recorded yet.</div>
<ul>
  <li *ngFor="let player of database">
     <a [routerLink]="['/highScores', player.playerName]"> -->
       <!-- <img [src]="pokemon.sprites.defaultFront" alt=""> -->
      <!-- {{ player.playerName }} -->
    <!-- <button class="btn btn-primary me-2" (click)="setScore(player)">Set Pet</button> -->
    <!-- <button class="btn btn-secondary" (click)="removeScore(player)">Remove</button>
  </li>
</ul> --> 